*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.cabecera{
    background-color: rgb(92, 92, 173);
    color: white;
    text-align: center;
    padding: 30px;
}

.cabecera__nombre{
    display: inline-block;
    margin-right: 50px;
    font-size: 40px;
    font-weight: 300;
}
.cabecera__profesion{
    display: inline-block;
    margin-left: 50px;

}
.experiencia{
    background-color: rgb(228, 157, 111);
    padding: 8px;
    text-align: center;
    font-weight: 600;
}
.contenedor{
    width: 950px;
    /* border: solid; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    box-shadow: 1px 1px 15px 0 black;
    


}
.educacion__titulo{
    margin-bottom: 40px;
    margin-left: 120px;
}
dt{
    text-transform: uppercase;
    font-weight: 700;
}
dd{
    margin-left: 5px;
    margin-bottom: 20px;
}
.trabajo__titulo{
    margin-bottom: 40px;
    margin-left: 120px;
    margin-top: 50px;
}
.fecha{
    margin-left: 40px;
}
.redes{
    margin-bottom: 40px;
    margin-left: 120px;
    margin-top: 50px;
}
li{
    margin-bottom: 10px;
    margin-left: 20px;
}
.educacion__1{
    display: inline-block;
}
.educacion__2{
    display: inline-block;
}
img{
    width: 200px;
    margin-left: 400px;
    border-radius: 50%;
    margin-top: 20px;

}
img:hover{
    width: 300px;
    transition: 0.5s;
}